/ElectroValvula/nbproject/private/
/BombaAgua/nbproject/private/
/SistemaFertirrigacion/nbproject/private/
/ControladorCentral/nbproject/private/
/sensorHumedad1/nbproject/private/
/BombaAgua/build/
/ControladorCentral/build/
/ControladorCentral/dist/
/sensorHumedad1/build/
/sensorLluvia/target/
/sensorRadiacion/target/
/SensorTemperatura/target/
/Parcela/target/
/ElectroValvula/build/
/ElectroValvula2/build/
/ElectroValvula3/build/
/ElectroValvula4/build/
/ElectroValvula5/build/
/ElectroValvula6/build/
/ElectroValvula7/build/
/ElectroValvula2/nbproject/private/
/ElectroValvula3/nbproject/private/
/ElectroValvula4/nbproject/private/
/ElectroValvula5/nbproject/private/
/ElectroValvula6/nbproject/private/
/ElectroValvula7/nbproject/private/
/SistemaFertirrigacion/build/
/ElectroValvula2/dist/
/build-impl.xml
/genfiles.properties
/.idea/
/private.properties
/project.xml
